## Tensorflow读取pandas数据训练DNN模型

数据集：心脏病数据集
* 每一行是一个病人，包含病人的信息以及病人真的是否有心脏病；
* 目标是使用该数据训练模型，根据病人的信息预测病人有心脏病的概率
* 这是一个二分类的问题

学习目标，怎样把Pandas的数据加载到Keras进行训练？

### 1. 使用Pandas读取数据

In [1]:
import pandas as pd
import tensorflow as tf

In [2]:
pd.__version__, tf.__version__

('1.0.1', '2.1.0')

In [3]:
df = pd.read_csv("./datas/heart/heart.csv")

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,reversible,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,normal,0

In [5]:
df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal         object
target        int64
dtype: object

In [6]:
# 把thal列变成数字编码
df['thal'] = pd.Categorical(df['thal'])
df['thal'] = df['thal'].cat.codes

In [7]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

### 2. 将数据加载到tf.data.Dataset

In [8]:
# 要预测的目标，这是个二分类问题
target = df.pop('target')

In [9]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0,2
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3
2,67,1,4,120,229,0,2,129,1,2.6,2,2,4
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3

In [10]:
target.head()

0    0
1    1
2    0
3    0
4    0
Name: target, dtype: int64

In [11]:
df.head().values

array([[ 63. ,   1. ,   1. , 145. , 233. ,   1. ,   2. , 150. ,   0. ,
          2.3,   3. ,   0. ,   2. ],
       [ 67. ,   1. ,   4. , 160. , 286. ,   0. ,   2. , 108. ,   1. ,
          1.5,   2. ,   3. ,   3. ],
       [ 67. ,   1. ,   4. , 120. , 229. ,   0. ,   2. , 129. ,   1. ,
          2.6,   2. ,   2. ,   4. ],
       [ 37. ,   1. ,   3. , 130. , 250. ,   0. ,   0. , 187. ,   0. ,
          3.5,   3. ,   0. ,   3. ],
       [ 41. ,   0. ,   2. , 130. , 204. ,   0. ,   2. , 172. ,   0. ,
          1.4,   1. ,   0. ,   3. ]])

In [12]:
target.head().values

array([0, 1, 0, 0, 0], dtype=int64)

In [13]:
# 构建dataset，其实是把pandas数据转换成numpy数组进行转换的
dataset = tf.data.Dataset.from_tensor_slices((df.values, target.values))

In [14]:
for features, label in dataset.take(5):
    print('Features: {}, Label: {}'.format(features, label))

Features: [ 63.    1.    1.  145.  233.    1.    2.  150.    0.    2.3   3.    0.
   2. ], Label: 0
Features: [ 67.    1.    4.  160.  286.    0.    2.  108.    1.    1.5   2.    3.
   3. ], Label: 1
Features: [ 67.    1.    4.  120.  229.    0.    2.  129.    1.    2.6   2.    2.
   4. ], Label: 0
Features: [ 37.    1.    3.  130.  250.    0.    0.  187.    0.    3.5   3.    0.
   3. ], Label: 0
Features: [ 41.    0.    2.  130.  204.    0.    2.  172.    0.    1.4   1.    0.
   3. ], Label: 0

In [15]:
# Shuffle and batch the dataset.
train_dataset = dataset.shuffle(len(df)).batch(1)

### 3. 创建并训练模型

In [16]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, input_shape=(df.shape[1],)),
    tf.keras.layers.Dense(10, activation='relu'),
    tf.keras.layers.Dense(1)
])

In [17]:
model.compile(optimizer='adam',
            loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
            metrics=['accuracy'])

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                140
_________________________________________________________________
dense_1 (Dense)              (None, 10)                110
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 11
=================================================================
Total params: 261
Trainable params: 261
Non-trainable params: 0
_________________________________________________________________

In [19]:
model.fit(train_dataset, epochs=15)

Train for 303 steps
Epoch 1/15
303/303 [==============================] - 1s 2ms/step - loss: 2.0987 - accuracy: 0.7063
Epoch 2/15
303/303 [==============================] - 0s 776us/step - loss: 0.6882 - accuracy: 0.7393
Epoch 3/15
303/303 [==============================] - 0s 851us/step - loss: 0.7454 - accuracy: 0.7360
Epoch 4/15
303/303 [==============================] - 0s 792us/step - loss: 0.6366 - accuracy: 0.7459
Epoch 5/15
303/303 [==============================] - 0s 795us/step - loss: 0.5402 - accuracy: 0.7756
Epoch 6/15
303/303 [==============================] - 0s 914us/step - loss: 0.5967 - accuracy: 0.7459
Epoch 7/15
303/303 [==============================] - 0s 785us/step - loss: 0.6007 - accuracy: 0.7393
Epoch 8/15
303/303 [==============================] - 0s 792us/step - loss: 0.5631 - accuracy: 0.7756
Epoch 9/15
303/303 [==============================] - 0s 818us/step - loss: 0.5815 - accuracy: 0.7228
Epoch 10/15
303/303 [==============================] - 0s 789us/step - loss: 0.5864 - accuracy: 0.7525
Epoch 11/15
303/303 [==============================] - 0s 891us/step - loss: 0.5792 - accuracy: 0.7756
Epoch 12/15
303/303 [==============================] - 0s 878us/step - loss: 0.5497 - accuracy: 0.7690
Epoch 13/15
303/303 [==============================] - 0s 743us/step - loss: 0.5645 - accuracy: 0.7492
Epoch 14/15
303/303 [==============================] - 0s 848us/step - loss: 0.5158 - accuracy: 0.7987
Epoch 15/15
303/303 [==============================] - 0s 792us/step - loss: 0.5034 - accuracy: 0.7921